.banner {
  background-image: linear-gradient(rgba(235,222,160,0.2),rgba(235,222,160,0.2)), url(../../images/background-image.png);
  background-size: cover;
  background-position: right;
  height: 500px;
  position: relative;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.banner .container {
  position: absolute;
  left: 5%;
  bottom: 80px;
}

.banner .container h1 {
  font-size: 80px;
  margin: 0;
}

.banner .container p {
  color: rgba(0,0,0,0.7);
  font-size: 24px;
}
